ul .menuadmin {
    padding: 15px 40px 10px 40px;
    margin-bottom: 0px !important;
}
.menu-admin{
    background-color: #fff;
    border-bottom: 1px solid #00000026;
    position: relative;
}
.menu-admin ul{
    list-style: none;
    margin-bottom: 0;
}
.menu-admin ul .menuadmin{
    text-transform: uppercase;
    font-weight: 700;
}
.menu-admin ul .menuadmin a{
    color: #000;
}
.menu-admin ul .menuadmin a i{
    padding-right: 5px;
}
.menu-admin ul .menuadmin a:hover{
    color: rgba(70, 43, 221, 0.90);
}
.main{
    margin-left: 30px;
}
#listmember tr td{
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 5px;
    color: #000;
    font-size: larger;
}
#listmember{
    margin: 0 auto;
}
#firstcol td{
    background: dodgerblue;
    color: #fff !important;
}
.edit{
    margin: 5px auto;
    text-align: center;
}